[submodule "libretro-common"]
	path = libretro-common
	url = https://github.com/libretro/libretro-common
[submodule "libretro-deps"]
	path = libretro-deps
	url = https://github.com/libretro/libretro-deps.git
